.contact{

    h4{
        font-size: 1.125rem;
        font-weight: 600;
    }
    &__left{
        align-self: start;
        p{
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.8;
            margin-bottom: 2.875rem;
            margin-top: 0;
        }
    }

    &__inner{
        .row{
            display: flex;
            align-items: center;
            img{
                width: 1.875rem;
                height: 1.875rem;
            }
            .contact__info{
                margin-left: 0.9375rem;
                line-height: 1.8;

                .head{
                    font-weight: 500;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                }

                .sub-head{
                    font-weight: 400;
                    font-size: 0.875rem;
                }
            }
        }

        .row:nth-child(1){
            margin-bottom: 1.25rem;
        }
    }

    &__right{

        .fields{
            display: flex;
            margin-bottom: 1rem;

            
            .form-group:nth-child(2){
                margin-left: 10px;
            }


            i.fa{
                position: absolute;
                top: 37px;
                right: 14px;
                visibility: hidden;
            }
        }
        
        .form-group{
            width: 100%;
            position: relative;
        }

        .field{
            position: relative;

            &.subject{
                margin-bottom: 25px;
            
                i.fa{
                    position: absolute;
                    top: 37px;
                    right: 14px;
                    visibility: hidden;
                }
            }

            &.message{
                height: 50px;
                
                >.form-group{
                    height: 100px;
                }
                i.fa{
                    position: absolute;
                    top: 40px;
                    right: 14px;
                    visibility: hidden;
                }

                textarea{
                    width: 100%;
                    height: 100%;
                    padding: 12px;
                    resize: none;
                    border: 1px solid lightgray;
                    border-radius: 6px;
                    outline: none;
                    font-family: 'Poppins';

                    &:focus{
                        border-color: $primary-color
                    }
                }
            }
        }
       
        .form-group, .field >.form-group {
            &.error input, &.error textarea{
                border-color: $error;
                visibility: visible;
            }
            &.error .msg{
                visibility: visible;
            }
            &.error .fa-exclamation-circle{
                color: $error;
                visibility: visible;
            }

            .msg{
                position: absolute;
                bottom: -18px;
                right: 0px;
                color: $error;
                font-size: 11px;
                font-style: italic;
                visibility: hidden;
            }

        }
        
    }

    &__btn{
        padding: 0.75rem 1.5rem;
        margin-top: 4rem;
        border: none;
        border-radius: 5px;
        color: #fff;
        background: #651399;
        font-family: Poppins;
        outline: none;
        cursor: pointer;
        letter-spacing: 0.4px;
        transition: all 300ms ease-in-out;

        &:hover{
            background-color: $pink;
            color: $primary-color;
        }
    }


}

